body {
  background-color: black;  
  color: grey;
}

h1 {
  text-align: center;
}

#controls {
  width: 600px;
  height: 2em;
  margin: 1em auto;
}

canvas {
  background-color: #111;
  display: block;
  margin: 2em auto 1em auto;
  border: 1px dotted gray;
  cursor: crosshair;
}

#out {
  color: gray;
  font-size: 2em;
  font-family: monospace;
}

#coords {
    display: inline;
    color: hsl(16, 60%, 50%);
}
#theta {
    color: rgb(0 200 255 / 30%);
}