body {
  background-color: black;  
  color: grey;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 600px;
    margin: 0 auto;
}

h1 {
  text-align: center;
}

p {
    text-indent: 1em;
}

canvas {
  background-color: #111;
  display: block;
  margin: 1em auto 1em auto;
  border: 1px dotted gray;
  cursor: crosshair;
}

#out {
    /* height: 2em; */
    /* margin: 1em auto; */
    color: gray;
    /* font-size: 2em; */
    font-family: monospace;
}

#coords {
    color: hsl(16, 60%, 50%);
}
#theta {
    color: rgb(0 200 255 / 30%);
}